CI_ENVIRONMENT = development
APP_BASE_URL = 'http://localhost:8080/'
APP_KEY = 'replace-with-a-long-random-value'

DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_NAME = 'pos_accounts'
DB_USER = 'pos_user'
DB_PASSWORD = 'replace-me'
DB_DRIVER = 'MySQLi'
DB_SSL_CA = ''

SESSION_DRIVER = 'CodeIgniter\\Session\\Handlers\\FileHandler'
SESSION_COOKIE_NAME = 'pos_session'
AVATAR_UPLOAD_PATH = ''
AVATAR_STORAGE_DRIVER = 'filesystem'
SEED_ADMIN_PASSWORD = ''
